@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1, h2, h3, h4 {
  font-weight: bold;
}

.text-size20 {
  font-size: 20px;
}

.text-size18 {
  font-size: 18px;
  margin-bottom: 4px;
}

.text-size16 {
  font-size: 18px;
  margin-bottom: 3px;
}

:root {
  --color-shadow-primary: #ae7615;
}

/* Global styles */
.toast-container {
  position: fixed;
  bottom: 130px;
  left: 250px;
  z-index: 9999; /* Ensure it's on top of other UI elements */
  max-width: 400px;
  pointer-events: none; /* Ensure it doesn't interfere with other UI elements */
}

.toast {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the start */
  background-color: #333;
  color: #e4e4e4;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border-color: #333;
  border-width: 3px;
  margin-bottom: 10px;
  opacity: 1; /* Start fully visible */
  pointer-events: auto;
  animation: fadein 0.5s forwards;
}
.toast .attack-success, .toast .roll-success {
  margin-top: 2px;
  font-size: 20px;
  color: #bee8b1;
}
.toast .attack-fail, .toast .roll-fail {
  margin-top: 2px;
  font-size: 20px;
  color: #faa4a4;
}
.toast .attack-info {
  margin-top: 2px;
  font-size: 20px;
  color: #90b0e0;
}
.toast .damage {
  font-size: 20px;
  font-weight: bold;
}
.toast.fadeout {
  animation: fadeout 0.5s forwards;
}
.toast.success {
  background-color: #142715;
}
.toast.error {
  background-color: #30120f;
}
.toast.warning {
  background-color: #282214;
}
.toast.info {
  background-color: #1b262b;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.window-app {
  font-family: "Barlow", sans-serif;
  --minimized-width: 300px;
}
.window-app .minimized {
  min-width: 300px;
  width: 300px;
}

.rollable:hover, .rollable:focus, .chatable:hover, .chatable:focus {
  cursor: pointer;
}

.bordered {
  margin: 2px 2px 4px 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 6px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.float-left {
  float: left;
}

.clear-fix {
  clear: both;
}

.sheet nav.sheet-tabs > [data-tab] {
  padding: 4px 8px;
  font-weight: 600;
}

/* Apply these styles only when the "minimized" class is not present */
.window-app.fantastic-depths.sheet.actor:not(.minimized) {
  min-width: 600px !important;
  min-height: 400px !important;
}

.window-app.fantastic-depths.sheet.actor.minimized {
  min-width: 400px !important;
}

.window-app.fantastic-depths.sheet.item:not(.minimized) {
  min-width: 460px !important;
  min-height: 230px !important;
}

.player-combat-form .is-dead, .party-tracker-list .is-dead {
  background: url("../assets/img/grungered.jpg");
}

.party-tracker {
  flex: 1 1 auto;
}
.party-tracker .party-tracker-list {
  max-height: 100%; /* Ensure the list is scrollable */
  overflow-y: auto;
  padding: 4px;
}
.party-tracker .party-tracker-list .party-member {
  position: relative; /* Relative positioning allows the delete button to be positioned inside */
  margin-bottom: 4px;
  /* Delete button styles */
  /* Ensure icon inherits size */
  /* Hover effect for better feedback */
}
.party-tracker .party-tracker-list .party-member .delete-actor {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px; /* Control size of the button */
  height: 24px; /* Equal height */
  display: flex; /* Use flex to center icon */
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Ensure icon is small */
}
.party-tracker .party-tracker-list .party-member .delete-actor i {
  font-size: inherit;
  color: #555555; /* Darken color on hover */
}
.party-tracker .party-tracker-list .party-member .delete-actor:hover {
  color: #888888; /* Darken color on hover */
}

.party-table th {
  text-align: left;
}

.collapsible-content {
  overflow: hidden;
  height: auto;
  transition: height 0.1s ease-in;
}

.collapsible-content.collapsed {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: height 0.1s ease-in, padding 0.1s ease-in;
}

.combatant-declarations {
  margin: -3px 0 0 0;
}
.combatant-declarations .sidebar-select {
  flex: auto;
  font-size: 10px;
  background-color: lightgray;
  height: 16px;
}

.declared-action {
  font-size: 12px;
  color: #888888;
}

.prosemirror .editor-container .editor-content {
  position: relative !important;
}

.system-fantastic-depths #tooltip.text-center {
  text-align: left !important;
}
.system-fantastic-depths color-picker {
  gap: 0;
}
.system-fantastic-depths color-picker > input:nth-child(2) {
  height: 32px;
  max-width: 32px;
}
.system-fantastic-depths .width-120 {
  width: 120px;
  max-width: 120px;
}

:root {
  --max-column-width: 200px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, var(--max-column-width)));
  gap: 10px;
  margin: 0 0;
  padding: 0;
}

.grid-2colfr {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, var(--max-column-width)));
}

.grid-3colfr {
  display: grid;
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, var(--max-column-width)));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, var(--max-column-width)));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, var(--max-column-width)));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, var(--max-column-width)));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, var(--max-column-width)));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, var(--max-column-width)));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, var(--max-column-width)));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.max-width-140px {
  --max-column-width: 140px;
}

.max-width-300px {
  --max-column-width: 300px;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flex-between {
  justify-content: space-between;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.width-60 {
  max-width: 60px;
}

.width-80 {
  max-width: 80px;
}

.width-100 {
  max-width: 100px;
}

.width-130 {
  max-width: 130px;
}

.width-180 {
  max-width: 180px;
}

/* Dark mode styles */
.dark-mode .bordered {
  border-color: #4b4a44;
}
.dark-mode .item-piles-chat-card ul {
  color: #efefef;
}
.dark-mode .item-piles-chat-card li:nth-child(odd) {
  background-color: rgba(250, 250, 250, 0.2);
}
.dark-mode .item-piles-chat-card li:nth-child(even) {
  background-color: rgba(250, 250, 250, 0.05);
}
.dark-mode .fantastic-depths .window-content {
  background: url("../assets/img/grunge2.jpg");
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content .editor-container {
  margin: 0 4px;
  padding: 0 4px;
  border: #4b4a44 solid 1px;
}
.dark-mode .fantastic-depths .window-content .editor-container .editor-content {
  padding: 0 2px;
}
.dark-mode .fantastic-depths .window-content .prosemirror-menu {
  padding: 2px;
}
.dark-mode .fantastic-depths .window-content .content-link {
  background: #2b2a24;
}
.dark-mode .fantastic-depths .window-content button {
  background: url("../assets/img/grungeyellow.jpg");
  color: #ebeae4;
  border: 1px solid #545140;
}
.dark-mode .fantastic-depths .window-content a:hover {
  text-shadow: 0 0 10px #fe5645, 0 0 18px #fe5645, 0 0 26px #fe5645, 0 0 34px #fe5645;
}
.dark-mode .fantastic-depths .window-content textarea {
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content input[type=text], .dark-mode .fantastic-depths .window-content input[type=number], .dark-mode .fantastic-depths .window-content input[type=password], .dark-mode .fantastic-depths .window-content input[type=date], .dark-mode .fantastic-depths .window-content input[type=time], .dark-mode .fantastic-depths .window-content input[type=search] {
  background: rgba(210, 200, 180, 0.1);
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content input::placeholder {
  color: #bbbab4;
}
.dark-mode .fantastic-depths .window-content select {
  background: #2b2a24;
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content select option {
  background: #4b4a44;
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content nav.sheet-tabs {
  margin: 4px 0;
  border-top: 1px solid #4b4a44;
  border-bottom: 1px solid #4b4a44;
}
.dark-mode .fantastic-depths .window-content .top-border {
  border-top: 1px solid #4b4a44;
}
.dark-mode .fantastic-depths .window-content .bottom-border {
  border-bottom: 1px solid #4b4a44;
}
.dark-mode .fantastic-depths .window-content .items-list {
  color: #bbbab4;
}
.dark-mode .fantastic-depths .window-content .items-list .item-controls .item-unequipped, .dark-mode .fantastic-depths .window-content .items-list .item-controls-sm .item-unequipped {
  color: rgba(220, 220, 220, 0.1);
}
.dark-mode .fantastic-depths .window-content .items-list .items-header {
  background: rgba(200, 200, 200, 0.1);
  border: 2px groove #4e4d40;
}
.dark-mode .fantastic-depths .window-content .items-list .items-footer {
  background: rgba(20, 20, 20, 0.7);
  border: 2px groove #4e4d40;
}
.dark-mode .fantastic-depths .window-content .items-list .item-prop {
  border-left: 1px solid #4b4a44;
  border-right: 1px solid #4b4a44;
}
.dark-mode .fantastic-depths .window-content .items-list .item .item-name {
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content .rollable:hover, .dark-mode .fantastic-depths .window-content .rollable:focus, .dark-mode .fantastic-depths .window-content .chatable:hover, .dark-mode .fantastic-depths .window-content .chatable:focus, .dark-mode .fantastic-depths .window-content .open-sheet:hover, .dark-mode .fantastic-depths .window-content .open-sheet:focus {
  color: #ebeae4;
  text-shadow: 0 0 10px #fe5645, 0 0 18px #fe5645, 0 0 26px #fe5645, 0 0 34px #fe5645;
}
.dark-mode .fantastic-depths .window-content .inline-roll {
  color: #4b4a44;
}
.dark-mode .fantastic-depths .summary li {
  color: #bbbab4;
}
.dark-mode .fantastic-depths .summary li label {
  color: #bbbab4;
}
.dark-mode .fantastic-depths .character .nav-tabs-right .nav-tab, .dark-mode .fantastic-depths .character .nav-tabs-right .nav-tab-vert, .dark-mode .fantastic-depths .monster .nav-tabs-right .nav-tab, .dark-mode .fantastic-depths .monster .nav-tabs-right .nav-tab-vert {
  background: url("../assets/img/grunge2.jpg");
}
.dark-mode .fantastic-depths .character .nav-tabs-right .nav-tab a, .dark-mode .fantastic-depths .character .nav-tabs-right .nav-tab-vert a, .dark-mode .fantastic-depths .monster .nav-tabs-right .nav-tab a, .dark-mode .fantastic-depths .monster .nav-tabs-right .nav-tab-vert a {
  border-color: #4b4a44;
}
.dark-mode .fantastic-depths .character .ability-scores .ability, .dark-mode .fantastic-depths .monster .ability-scores .ability {
  border-color: #4b4a44;
}
.dark-mode .chat-message {
  background: url("../assets/img/grungeyellow.jpg");
  color: #ebeae4;
  border: 1px solid #545140;
}
.dark-mode .chat-message a.inline-roll {
  background: url("../assets/img/grunge2.jpg");
}
.dark-mode .chat-message .content-link {
  background: url("../assets/img/grungeblue.jpg");
}
.dark-mode .chat-message hr {
  border-top: none;
  border-bottom: 2px solid #645140;
}
.dark-mode .chat-message .message-header {
  color: #bbbab4;
}
.dark-mode .chat-message .attack-info {
  color: #90b0e0;
}
.dark-mode .chat-message .dice-formula, .dark-mode .chat-message .dice-total {
  background: url("../assets/img/grunge2.jpg");
  border: 1px solid #4b4a44;
  box-shadow: none;
}
.dark-mode .chat-message .saving-roll {
  background: url("../assets/img/grungeblue.jpg");
  border: 1px solid #4b4a44;
  box-shadow: none;
  color: #ebeae4;
}
.dark-mode .chat-message .heal-roll, .dark-mode .chat-message .apply-heal, .dark-mode .chat-message .flags-restored-true {
  background: url("../assets/img/grungegreen.jpg");
  color: #ebeae4;
  box-shadow: none;
  border: 1px solid #447744;
}
.dark-mode .chat-message .damage-roll, .dark-mode .chat-message .apply-damage, .dark-mode .chat-message .flags-killed-true {
  background: url("../assets/img/grungered.jpg");
  color: #ebeae4;
  box-shadow: none;
  border: 1px solid #774444;
}
.dark-mode .chat-message .attack-fail, .dark-mode .chat-message .roll-fail {
  color: #d85d48;
}
.dark-mode .chat-message .attack-success, .dark-mode .chat-message .roll-success {
  color: #7edb89;
}
.dark-mode .chat-message .roll-info {
  color: #789ad0;
}
.dark-mode .chat-message .warning {
  color: #deb56a;
}
.dark-mode .chat-message .table-description {
  color: #ebeae4;
}

/* Light mode styles */
.light-mode .fantastic-depths .window-content .bordered {
  border-color: #bbbab4;
}
.light-mode .fantastic-depths .window-content .top-border {
  border-top: 1px solid #c9c7b8;
}
.light-mode .fantastic-depths .window-content .bottom-border {
  border-bottom: 1px solid #c9c7b8;
}
.light-mode .fantastic-depths .window-content .items-list {
  color: #4b4a44;
}
.light-mode .fantastic-depths .window-content .items-list .item-controls .item-unequipped, .light-mode .fantastic-depths .window-content .items-list .item-controls-sm .item-unequipped {
  color: rgba(0, 0, 0, 0.2);
}
.light-mode .fantastic-depths .window-content .items-list .items-header {
  background: rgba(90, 100, 100, 0.2);
  border: 2px groove #eeede0;
}
.light-mode .fantastic-depths .window-content .items-list .items-footer {
  background: rgba(170, 170, 170, 0.2);
  border: 2px groove #eeede0;
}
.light-mode .fantastic-depths .window-content .items-list .item .item-name {
  color: #2b2a24;
}
.light-mode .fantastic-depths .window-content .rollable:hover, .light-mode .fantastic-depths .window-content .rollable:focus, .light-mode .fantastic-depths .window-content .chatable:hover, .light-mode .fantastic-depths .window-content .chatable:focus, .light-mode .fantastic-depths .window-content .open-sheet:hover, .light-mode .fantastic-depths .window-content .open-sheet:focus {
  color: #2b2a24;
  text-shadow: 0 0 10px #ae7615;
}
.light-mode .fantastic-depths .summary li {
  color: #4b4a44;
}
.light-mode .fantastic-depths .summary li label {
  color: #4b4a44;
}
.light-mode .fantastic-depths .character .nav-tabs-right .nav-tab, .light-mode .fantastic-depths .character .nav-tabs-right .nav-tab-vert, .light-mode .fantastic-depths .monster .nav-tabs-right .nav-tab, .light-mode .fantastic-depths .monster .nav-tabs-right .nav-tab-vert {
  background: url("../assets/img/lightgrunge1.jpg");
}
.light-mode .fantastic-depths .character .nav-tabs-right .nav-tab a, .light-mode .fantastic-depths .character .nav-tabs-right .nav-tab-vert a, .light-mode .fantastic-depths .monster .nav-tabs-right .nav-tab a, .light-mode .fantastic-depths .monster .nav-tabs-right .nav-tab-vert a {
  border-color: #bbbab4;
}
.light-mode .fantastic-depths .character .ability-scores .ability, .light-mode .fantastic-depths .monster .ability-scores .ability {
  border-color: #bbbab4;
}
.light-mode .chat-message .attack-fail, .light-mode .chat-message .roll-fail {
  color: #602010;
}
.light-mode .chat-message .attack-success, .light-mode .chat-message .roll-success {
  color: #106020;
}
.light-mode .chat-message .attack-info {
  color: #3b4a55;
}
.light-mode .chat-message .damage {
  font-weight: bold;
}
.light-mode .chat-message .roll-info {
  color: #101030;
}
.light-mode .chat-message .warning {
  color: #702010;
}
.light-mode .chat-message .heal-roll, .light-mode .chat-message .apply-heal {
  background: url("../assets/img/grungegreen.jpg");
  color: #ebeae4;
  box-shadow: none;
  border: 1px solid #447744;
}
.light-mode .chat-message .damage-roll, .light-mode .chat-message .apply-damage {
  background: url("../assets/img/grungered.jpg");
  color: #ebeae4;
  box-shadow: none;
  border: 1px solid #774444;
}

.chat-message {
  padding: 3px 4px 3px 4px;
}
.chat-message .message-content {
  padding: 1px 5px 4px 5px;
  /*.collapser {
     margin-bottom: 4px;
  }*/
}
.chat-message .message-content img {
  border: none;
}
.chat-message .message-content button {
  margin: 0;
}
.chat-message .message-content .digest {
  margin-bottom: 6px;
}
.chat-message .message-content .apply-damage, .chat-message .message-content .apply-heal {
  margin-top: 4px;
}
.chat-message .message-content .damage-roll, .chat-message .message-content .saving-Roll, .chat-message .message-content .heal-roll {
  font-size: 15px;
  padding: 5px 4px;
}
.chat-message .message-content .small-text {
  margin-left: 4px;
  font-size: 10px;
  color: #808080;
  line-height: 12px;
}
.chat-message .message-content .attack-fail, .chat-message .message-content .roll-fail {
  font-size: 20px;
}
.chat-message .message-content .item-name {
  font-size: 18px;
  font-weight: 600;
}
.chat-message .message-content .attack-success, .chat-message .message-content .roll-success {
  font-size: 18px;
}
.chat-message .message-content .damage {
  font-size: 18px;
  font-weight: bold;
}
.chat-message .message-content .attack-desc {
  margin-top: 4px;
}
.chat-message .message-content .attack-result {
  margin: 2px 0 6px 0;
  font-size: 18px;
}
.chat-message .message-content .attack-info {
  font-size: 18px;
}
.chat-message .message-content .roll-info {
  font-size: 16px;
}
.chat-message .message-content .warning {
  font-size: 16px;
}
.chat-message .message-content .collapsible-header {
  cursor: pointer;
}
.chat-message .message-content .item-image {
  float: left;
  flex: 0 0 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.chat-message .message-content .expander {
  width: 30px; /* Set a fixed width to control the space for the symbol */
  height: 30px; /* Adjust height as needed */
  cursor: pointer; /* Optional: to make it appear clickable */
}
.chat-message .message-content .expander::after {
  font-size: 28px; /* Keep the size as you intended */
  content: ">";
  transform: translateY(-50%); /* Vertically center the symbol */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}
.chat-message .message-content .expander.expanded::after {
  transform: translateY(-50%) rotate(90deg); /* Rotate downwards when expanded */
}
.chat-message .message-content .card-tray {
  margin: 8px 0 4px 0;
}
.chat-message .message-content .card-tray label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  font-size: 11px;
}
.chat-message .message-content .card-tray label > span {
  flex: none;
}
.chat-message .message-content .card-tray label::before, .chat-message .message-content .card-tray label::after {
  content: "";
  flex-basis: 50%;
  border-top: 1px dotted #808060;
  align-self: center;
}

.combatant.disposition-friendly::before {
  font-family: "Font Awesome 5 Free";
  content: "\f024";
  color: green;
  margin-right: 5px;
  font-weight: 900;
}

.combatant.disposition-neutral::before {
  font-family: "Font Awesome 5 Free";
  content: "\f06c";
  color: white;
  margin-right: 5px;
  font-weight: 900;
}

.combatant.disposition-hostile::before {
  font-family: "Font Awesome 5 Free";
  content: "\f06d";
  color: red;
  margin-right: 5px;
  font-weight: 900;
}

/* Styles limited to fantastic-depths sheets */
.fantastic-depths .character .nav-tabs-right, .fantastic-depths .monster .nav-tabs-right {
  left: 100%;
  top: 10%;
  position: absolute;
  flex-direction: column;
}
.fantastic-depths .character .nav-tabs-right .nav-tab, .fantastic-depths .monster .nav-tabs-right .nav-tab {
  width: 38px;
  margin: 2px 0;
  padding-inline-end: 12px;
  border-radius: 0 8px 8px 0;
  padding: 4px;
}
.fantastic-depths .character .nav-tabs-right .nav-tab .active img, .fantastic-depths .monster .nav-tabs-right .nav-tab .active img {
  filter: brightness(100%);
}
.fantastic-depths .character .nav-tabs-right .nav-tab a, .fantastic-depths .monster .nav-tabs-right .nav-tab a {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 4px 4px 4px 0;
  width: 30px;
  display: inline-block;
}
.fantastic-depths .character .nav-tabs-right .nav-tab a img, .fantastic-depths .monster .nav-tabs-right .nav-tab a img {
  filter: brightness(50%);
}
.fantastic-depths .character .nav-tabs-right .nav-tab-vert, .fantastic-depths .monster .nav-tabs-right .nav-tab-vert {
  width: 26px;
  padding: 8px 2px;
  margin: 4px 0;
  padding-inline-end: 8px;
  border-radius: 0 8px 8px 0;
  writing-mode: vertical-lr;
}
.fantastic-depths .character input, .fantastic-depths .monster input {
  border: 0 none;
  padding: 2px 5px;
}
.fantastic-depths .character .ability-scores, .fantastic-depths .monster .ability-scores {
  max-width: 200px;
}
.fantastic-depths .character .ability-horz, .fantastic-depths .monster .ability-horz {
  border-right-style: solid;
  border-right-width: 1px;
}
.fantastic-depths .character .ability-horz input, .fantastic-depths .monster .ability-horz input {
  margin-right: 4px;
}
.fantastic-depths .character .ability-horz:last-child, .fantastic-depths .monster .ability-horz:last-child {
  border-right: none;
}
.fantastic-depths .character .ability, .fantastic-depths .monster .ability {
  min-height: 34px;
}
.fantastic-depths .character .ability label, .fantastic-depths .monster .ability label {
  font-weight: 500;
  margin: 0 0 2px 0;
}
.fantastic-depths .character .ability .abbr, .fantastic-depths .monster .ability .abbr {
  font-size: 20px;
  min-width: 60px;
  max-width: 80px;
  text-align: center;
}
.fantastic-depths .character .ability .long, .fantastic-depths .monster .ability .long {
  font-size: 15px;
  min-width: 80px;
  max-width: 80px;
  text-align: left;
}
.fantastic-depths .character .ability input, .fantastic-depths .monster .ability input {
  font-size: 20px;
  max-width: 40px;
  border-radius: 5px;
  padding-top: 0;
  text-align: center;
}
.fantastic-depths .character .ability .ability-score, .fantastic-depths .monster .ability .ability-score {
  font-size: 25px;
  text-align: center;
  padding-right: 5px;
}
.fantastic-depths .character .ability .ability-mod, .fantastic-depths .monster .ability .ability-mod {
  max-width: 36px;
  font-size: 18px;
}
.fantastic-depths .character .xsmall-col, .fantastic-depths .monster .xsmall-col {
  min-height: 32px;
}
.fantastic-depths .character .xsmall-col input, .fantastic-depths .character .xsmall-col label, .fantastic-depths .monster .xsmall-col input, .fantastic-depths .monster .xsmall-col label {
  max-width: 38px;
  min-width: 38px;
  display: inline-block;
  text-align: center;
}
.fantastic-depths .character .xsmall-col label, .fantastic-depths .monster .xsmall-col label {
  font-size: 13px;
}
.fantastic-depths .character .small-input input, .fantastic-depths .monster .small-input input {
  align-content: center;
  max-width: 34px;
  min-width: 34px;
  font-size: 16px;
}
.fantastic-depths .character .saving-throws .tall-row, .fantastic-depths .monster .saving-throws .tall-row {
  min-height: 36px;
}
.fantastic-depths .character .saving-throws .small-row, .fantastic-depths .monster .saving-throws .small-row {
  min-height: 30px;
}
.fantastic-depths .character .saving-throws input, .fantastic-depths .monster .saving-throws input {
  align-content: center;
  margin-right: 6px;
  max-width: 34px;
  min-width: 34px;
  font-size: 16px;
}
.fantastic-depths .character .saving-throws label, .fantastic-depths .monster .saving-throws label {
  align-content: center;
  text-align: left;
  font-size: 12px;
}
.fantastic-depths .character .saving-throws .abbr, .fantastic-depths .monster .saving-throws .abbr {
  margin-left: 8px;
  font-size: 20px;
}
.fantastic-depths .character .saving-throws .long, .fantastic-depths .monster .saving-throws .long {
  font-size: 12px;
}
.fantastic-depths .character .hit-points, .fantastic-depths .monster .hit-points {
  height: 74px;
  position: relative;
}
.fantastic-depths .character .hit-points .hp-value, .fantastic-depths .monster .hit-points .hp-value {
  color: #ebeae4;
  background: none;
  border: 0 none;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0 0 2px #2b2a24, 0 1px 2px #2b2a24, 1px 0 2px #2b2a24, 1px 1px 2px #2b2a24;
  background: none;
}
.fantastic-depths .character .hit-points .hp-top, .fantastic-depths .monster .hit-points .hp-top {
  position: absolute;
  font-size: 26px;
  top: 15px;
  width: 50px;
  left: calc(50% - 25px);
}
.fantastic-depths .character .hit-points .hp-bottom, .fantastic-depths .monster .hit-points .hp-bottom {
  position: absolute;
  font-size: 12px;
  bottom: 8px;
  width: 40px;
  right: calc(50% - 20px);
}
.fantastic-depths .character .hit-points .hp-empty, .fantastic-depths .monster .hit-points .hp-empty {
  background-size: 74px;
  background-position: top;
  background-clip: content-box;
  background-image: url("../assets/img/heart_empty2.png");
  background-repeat: no-repeat;
}
.fantastic-depths .character .hit-points .hp-full, .fantastic-depths .monster .hit-points .hp-full {
  background-size: 74px;
  background-position: bottom;
  background-clip: content-box;
  background-image: url("../assets/img/heart_full2.png");
  background-repeat: no-repeat;
}
.fantastic-depths .character .armor-class, .fantastic-depths .monster .armor-class {
  height: 74px;
  position: relative;
  background-size: 70px;
  background-position: center;
  background-image: url("../assets/img/armor1.png");
  background-repeat: no-repeat;
}
.fantastic-depths .character .armor-class .ac-value, .fantastic-depths .monster .armor-class .ac-value {
  color: #ebeae4;
  background: none;
  border: 0 none;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0 0 2px #2b2a24, 0 1px 2px #2b2a24, 1px 0 2px #2b2a24, 1px 1px 2px #2b2a24;
}
.fantastic-depths .character .armor-class .ac-top, .fantastic-depths .monster .armor-class .ac-top {
  position: absolute;
  font-size: 26px;
  top: 11px;
  width: 50px;
  left: calc(50% - 25px);
}
.fantastic-depths .character .armor-class .ac-bottom, .fantastic-depths .monster .armor-class .ac-bottom {
  position: absolute;
  font-size: 12px;
  bottom: 15px;
  width: 50px;
  right: calc(50% - 25px);
}
.fantastic-depths .character .armor-class .shield, .fantastic-depths .monster .armor-class .shield {
  position: absolute;
  left: 71%;
  top: 30px;
  font-size: 24px;
  color: #707070;
}
.fantastic-depths .character .armor-class .shield .shield-ac-val, .fantastic-depths .monster .armor-class .shield .shield-ac-val {
  width: 40px;
  color: #ebeae4;
  font-weight: bolder;
  text-align: center;
  text-shadow: 0 0 3px #191813, 0 1px 2px #191813, 1px 0 2px #191813, 1px 1px 2px #191813;
  position: relative;
  left: 12px;
  top: -15px;
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  font-size: 14px;
}
.fantastic-depths .character .armor-class .ranged-ac, .fantastic-depths .monster .armor-class .ranged-ac {
  position: absolute;
  left: 1px;
  top: 30px;
  font-size: 24px;
  color: #808080;
}
.fantastic-depths .character .armor-class .ranged-ac .ranged-ac-val, .fantastic-depths .monster .armor-class .ranged-ac .ranged-ac-val {
  width: 40px;
  color: #ebeae4;
  font-weight: bolder;
  text-align: center;
  text-shadow: 0 0 3px #191813, 0 1px 2px #191813, 1px 0 2px #191813, 1px 1px 2px #191813;
  position: relative;
  left: 12px;
  top: -15px;
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  font-size: 14px;
}
.fantastic-depths .character .category-info, .fantastic-depths .monster .category-info {
  font-weight: normal;
  margin-left: 10px;
}
.fantastic-depths .character .category-caret, .fantastic-depths .monster .category-caret {
  flex: 0 0 6px;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.fantastic-depths .item-form {
  font-family: "Barlow", sans-serif;
}
.fantastic-depths h4 {
  margin: 2px;
}
.fantastic-depths .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: normal !important;
  margin-bottom: 5px;
}
.fantastic-depths .sheet-header input {
  border: 0;
  padding: 2px 8px;
}
.fantastic-depths .sheet-header .profile-img {
  flex: 0 0 10px;
  height: 130px;
  width: 130px;
  margin-right: 10px;
  border: none;
}
.fantastic-depths .sheet-header .profile-img-sm {
  float: left;
  flex: 0 0 10px;
  height: 80px;
  width: 80px;
  margin-right: 10px;
  border: none;
}
.fantastic-depths .sheet-header .profile-img-xsm {
  flex: 0 0 10px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border: none;
}
.fantastic-depths .sheet-header .header-fields {
  flex: 1;
}
.fantastic-depths .sheet-header .charname {
  height: 34px;
}
.fantastic-depths .sheet-header .charname input, .fantastic-depths .sheet-header .charname select {
  font-size: 22px;
  font-weight: 500;
  height: 30px;
}
.fantastic-depths .tag-section {
  padding: 1px 2px 0 1px;
  margin: 0 0 1px 0;
}
.fantastic-depths .tag-section .tag-list {
  margin: 0;
  height: 24px;
  overflow: auto;
  list-style: none;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
}
.fantastic-depths .tag-section .tag-list .tag {
  background: #393833;
  border-radius: 5px;
  color: whitesmoke;
  padding: 0 5px;
  height: 20px;
  box-shadow: 0 0 3px #d8d6c9;
  margin: 2px;
}
.fantastic-depths .tag-section .tag-list .tag i {
  font-size: 9px;
  vertical-align: middle;
  color: #d8d6c9;
}
.fantastic-depths .tag-section .add-tag {
  max-height: 28px;
}
.fantastic-depths .tag-section .add-tag input {
  margin-top: 1px;
  max-height: 20px;
  min-width: 70px;
}
.fantastic-depths .sheet-tabs {
  flex: 0;
}
.fantastic-depths .sheet-body,
.fantastic-depths .sheet-body .tab,
.fantastic-depths .sheet-body .tab .editor {
  height: 100%;
  min-height: 32px;
}
.fantastic-depths .tox .tox-editor-container {
  background: #fff;
}
.fantastic-depths .tox .tox-edit-area {
  padding: 0 8px;
}
.fantastic-depths .label-12px label {
  font-size: 12px;
}
.fantastic-depths .summary {
  flex: 0 0 100%;
  height: 46px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: none;
}
.fantastic-depths .summary div {
  height: calc(100% - 5px);
  margin: 2px 2px;
  padding: 0;
  line-height: 30px;
  position: relative;
}
.fantastic-depths .summary div label {
  line-height: 6px;
  position: absolute;
  font-size: 10px;
  top: 31px;
  left: 2px;
}
.fantastic-depths .summary li {
  height: calc(100% - 5px);
  float: left;
  margin: 2px 2px;
  padding: 0;
  line-height: 30px;
  position: relative;
}
.fantastic-depths .summary li label {
  line-height: 6px;
  position: absolute;
  font-size: 10px;
  top: 31px;
  left: 2px;
}
.fantastic-depths .summary li.notify input {
  font-weight: bold;
  animation: 0.8s ease-in 1s infinite alternate notify;
}
.fantastic-depths .resource-label {
  font-weight: bold;
}
.fantastic-depths .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.fantastic-depths .items-list .warning-bkgd {
  background: rgba(150, 20, 20, 0.15);
}
.fantastic-depths .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fantastic-depths .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  align-items: center;
  display: flex;
}
.fantastic-depths .items-list .item-name h3, .fantastic-depths .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.fantastic-depths .items-list .item-controls {
  display: flex;
  flex: 0 0 70px;
  justify-content: flex-end;
}
.fantastic-depths .items-list .item-controls a {
  font-size: 10px;
  text-align: center;
  margin: 0 5px;
}
.fantastic-depths .items-list .item-controls i {
  font-size: 12px;
}
.fantastic-depths .items-list .item-controls-sm {
  display: flex;
  flex: 0 0 50px;
  justify-content: flex-end;
}
.fantastic-depths .items-list .item-controls-sm a {
  font-size: 8px;
  text-align: center;
  margin: 0 5px;
}
.fantastic-depths .items-list .item-controls-sm i {
  font-size: 10px;
}
.fantastic-depths .items-list .item {
  align-items: center;
  padding: 0;
}
.fantastic-depths .items-list .item .center-vert {
  align-items: center;
}
.fantastic-depths .items-list .item ol {
  padding: 0;
  margin: 0;
}
.fantastic-depths .items-list .item:last-child {
  border-bottom: none;
}
.fantastic-depths .items-list .item .contained {
  padding-left: 10px;
}
.fantastic-depths .items-list .item .contained2 {
  padding-left: 20px;
}
.fantastic-depths .items-list .item .contained3 {
  padding-left: 30px;
}
.fantastic-depths .items-list .item .item-name img {
  border: none;
}
.fantastic-depths .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 85%; /* Ensures the d20 icon is properly sized */
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  margin-right: 2px;
  position: relative;
  top: 2px;
}
.fantastic-depths .items-list .item .item-name .rollable:hover img, .fantastic-depths .items-list .item .item-name .chatable:hover img {
  opacity: 0; /* Or use display: none; */
}
.fantastic-depths .items-list .item .item-name .rollable:hover {
  background-image: url("/icons/svg/d20-highlight.svg");
}
.fantastic-depths .items-list .item .item-name .chatable:hover {
  background-image: url("/icons/svg/book.svg");
}
.fantastic-depths .items-list .item input {
  text-align: center;
}
.fantastic-depths .items-list .item .item-description {
  margin: -3px 0 4px 0;
  padding: 0 8px;
  display: block;
  flex: auto;
  text-align: justify;
}
.fantastic-depths .items-list .item .desc-collapsed {
  display: none;
  height: 0;
  padding: 0;
  margin: 0;
  transition: height 0.1s ease-in, padding 0.1s ease-in;
}
.fantastic-depths .items-list .item-40px {
  width: 40px;
  max-width: 40px;
}
.fantastic-depths .items-list .item-50px {
  width: 50px;
  max-width: 50px;
}
.fantastic-depths .items-list .item-60px {
  width: 60px;
  max-width: 60px;
}
.fantastic-depths .items-list .item-80px {
  width: 80px;
  max-width: 80px;
}
.fantastic-depths .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.fantastic-depths .items-list .items-header {
  height: auto;
  margin: 2px 0;
  padding: 3px 1px;
  align-items: center;
  font-weight: bold;
}
.fantastic-depths .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.fantastic-depths .items-list .items-header .align-left {
  text-align: left;
  padding-left: 6px;
}
.fantastic-depths .items-list .items-header .item-name {
  padding-left: 3px;
  text-align: left;
}
.fantastic-depths .items-list .items-footer {
  height: 26px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  font-weight: bold;
}
.fantastic-depths .items-list .items-footer > * {
  font-size: 12px;
  text-align: center;
}
.fantastic-depths .items-list .items-footer .align-left {
  text-align: left;
}
.fantastic-depths .items-list .items-footer .item-name {
  padding-left: 3px;
  text-align: left;
}
.fantastic-depths .items-list .consumable-counter, .fantastic-depths .items-list .charges-counter {
  height: 16px;
  display: flex;
  flex-wrap: wrap;
  line-height: 14px;
}
.fantastic-depths .items-list .consumable-counter label, .fantastic-depths .items-list .charges-counter label {
  flex: 0 30px;
  font-size: 11px;
  text-indent: 3px;
}
.fantastic-depths .items-list .consumable-counter .full-mark,
.fantastic-depths .items-list .consumable-counter .empty-mark, .fantastic-depths .items-list .charges-counter .full-mark,
.fantastic-depths .items-list .charges-counter .empty-mark {
  cursor: pointer;
  flex: 0 8px;
  margin: 0 1px;
  box-shadow: inset 0 0 3px #7a7971;
  height: 12px;
}
.fantastic-depths .items-list .consumable-counter .full-mark:hover,
.fantastic-depths .items-list .consumable-counter .empty-mark:hover, .fantastic-depths .items-list .charges-counter .full-mark:hover,
.fantastic-depths .items-list .charges-counter .empty-mark:hover {
  background: #7a7971;
}
.fantastic-depths .items-list .consumable-counter .full-mark, .fantastic-depths .items-list .charges-counter .full-mark {
  background: #808080;
  border: 1px inset #7a7971;
}
.fantastic-depths .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.fantastic-depths .item-info {
  text-align: center;
}
.fantastic-depths .effects .item .effect-source,
.fantastic-depths .effects .item .effect-duration,
.fantastic-depths .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.fantastic-depths .effects .item .effect-controls {
  border: none;
}
