@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1, h2, h3, h4 {
  font-weight: bold;
}

:root {
  --color-shadow-primary: #ae7615;
}

/* Global styles */
.toast-container {
  position: fixed;
  top: 10px;
  left: 100px;
  z-index: 9999; /* Ensure it's on top of other UI elements */
  max-width: 400px;
  pointer-events: none; /* Ensure it doesn't interfere with other UI elements */
}

.toast {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the start */
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border-color: #333;
  border-width: 3px;
  margin-bottom: 10px;
  opacity: 1; /* Start fully visible */
  pointer-events: auto;
  animation: fadein 0.5s forwards;
}
.toast.fadeout {
  animation: fadeout 0.5s forwards;
}
.toast.success {
  background-color: #142715;
  color: #e4e4e4;
}
.toast.error {
  background-color: #30120f;
  color: #e4e4e4;
}
.toast.warning {
  background-color: #282214;
  color: #e4e4e4;
}
.toast.info {
  background-color: #1b262b;
  color: #e4e4e4;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.window-app {
  font-family: "Barlow", sans-serif;
}

.rollable:hover, .rollable:focus {
  cursor: pointer;
}

.bordered {
  margin: 2px 2px 4px 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 6px;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.clear-fix {
  clear: both;
}

.sheet nav.sheet-tabs > [data-tab] {
  padding: 4px 8px;
  font-weight: 600;
}

/* Apply these styles only when the "minimized" class is not present */
.window-app.fantastic-depths.sheet.actor:not(.minimized) {
  min-width: 600px !important;
  min-height: 540px !important;
}

.window-app.fantastic-depths.sheet.item:not(.minimized) {
  min-width: 460px !important;
  min-height: 340px !important;
}

.party-tracker .party-tracker-list {
  max-height: 100%; /* Ensure the list is scrollable */
  overflow-y: auto;
  padding: 4px;
}
.party-tracker .party-tracker-list .party-member {
  position: relative; /* Relative positioning allows the delete button to be positioned inside */
  margin-bottom: 4px;
  /* Delete button styles */
  /* Ensure icon inherits size */
  /* Hover effect for better feedback */
}
.party-tracker .party-tracker-list .party-member .delete-actor {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px; /* Control size of the button */
  height: 24px; /* Equal height */
  display: flex; /* Use flex to center icon */
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Ensure icon is small */
}
.party-tracker .party-tracker-list .party-member .delete-actor i {
  font-size: inherit;
  color: #555555; /* Darken color on hover */
}
.party-tracker .party-tracker-list .party-member .delete-actor:hover {
  color: #888888; /* Darken color on hover */
}

:root {
  --max-column-width: 200px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, var(--max-column-width)));
  gap: 10px;
  margin: 0 0;
  padding: 0;
}

.grid-2colfr {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, var(--max-column-width)));
}

.grid-3colfr {
  display: grid;
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, var(--max-column-width)));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, var(--max-column-width)));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, var(--max-column-width)));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, var(--max-column-width)));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, var(--max-column-width)));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, var(--max-column-width)));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, var(--max-column-width)));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.max-width-140px {
  --max-column-width: 140px;
}

.max-width-300px {
  --max-column-width: 300px;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flex-between {
  justify-content: space-between;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Dark mode styles */
.dark-mode .fantastic-depths .window-content {
  background: url("../assets/img/grunge2.jpg");
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content a:hover {
  text-shadow: 0 0 10px #fe5645, 0 0 18px #fe5645, 0 0 26px #fe5645, 0 0 34px #fe5645;
}
.dark-mode .fantastic-depths .window-content textarea {
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content input[type=text], .dark-mode .fantastic-depths .window-content input[type=number], .dark-mode .fantastic-depths .window-content input[type=password], .dark-mode .fantastic-depths .window-content input[type=date], .dark-mode .fantastic-depths .window-content input[type=time], .dark-mode .fantastic-depths .window-content input[type=search] {
  background: rgba(210, 200, 180, 0.1);
  color: #ebeae4;
  /*border: 1px solid var(--color-border-light-tertiary);*/
}
.dark-mode .fantastic-depths .window-content input::placeholder {
  color: #bbbab4;
}
.dark-mode .fantastic-depths .window-content select {
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content select option {
  background: #4b4a44;
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content .bordered {
  border-color: #4b4a44;
}
.dark-mode .fantastic-depths .window-content nav.sheet-tabs {
  margin: 4px 0;
  border-top: 1px solid #4b4a44;
  border-bottom: 1px solid #4b4a44;
}
.dark-mode .fantastic-depths .window-content .items-list {
  color: #bbbab4;
}
.dark-mode .fantastic-depths .window-content .items-list .item-controls .item-unequipped {
  color: rgba(220, 220, 220, 0.1);
}
.dark-mode .fantastic-depths .window-content .items-list .items-header {
  background: rgba(200, 200, 200, 0.1);
  border: 2px groove #4e4d40;
}
.dark-mode .fantastic-depths .window-content .items-list .items-footer {
  background: rgba(20, 20, 20, 0.7);
  border: 2px groove #4e4d40;
}
.dark-mode .fantastic-depths .window-content .items-list .item-prop {
  border-left: 1px solid #4b4a44;
  border-right: 1px solid #4b4a44;
}
.dark-mode .fantastic-depths .window-content .items-list .item {
  border-bottom: 1px solid #4b4a44;
}
.dark-mode .fantastic-depths .window-content .items-list .item .item-name {
  color: #ebeae4;
}
.dark-mode .fantastic-depths .window-content .rollable:hover, .dark-mode .fantastic-depths .window-content .rollable:focus {
  color: #ebeae4;
  text-shadow: 0 0 10px #fe5645, 0 0 18px #fe5645, 0 0 26px #fe5645, 0 0 34px #fe5645;
}
.dark-mode .fantastic-depths .window-content .inline-roll {
  color: #4b4a44;
}
.dark-mode .fantastic-depths .summary li {
  color: #bbbab4;
}
.dark-mode .fantastic-depths .summary li label {
  color: #bbbab4;
}
.dark-mode .fantastic-depths .character .ability-scores .ability, .dark-mode .fantastic-depths .monster .ability-scores .ability {
  border-color: #4b4a44;
}
.dark-mode .fantastic-depths .character .hit-points .hp-value, .dark-mode .fantastic-depths .monster .hit-points .hp-value {
  text-shadow: 0 0 2px #2b2a24, 0 1px 2px #2b2a24, 1px 0 2px #2b2a24, 1px 1px 2px #2b2a24;
  background: none;
}
.dark-mode .fantastic-depths .character .hit-points .hp-empty, .dark-mode .fantastic-depths .monster .hit-points .hp-empty {
  background-image: url("../assets/img/heart_empty2.png");
  background-repeat: no-repeat;
}
.dark-mode .fantastic-depths .character .hit-points .hp-full, .dark-mode .fantastic-depths .monster .hit-points .hp-full {
  background-image: url("../assets/img/heart_full2.png");
  background-repeat: no-repeat;
}
.dark-mode .fantastic-depths .character .armor-class, .dark-mode .fantastic-depths .monster .armor-class {
  background-image: url("../assets/img/shield2.png");
  background-repeat: no-repeat;
}
.dark-mode .fantastic-depths .character .armor-class .ac-value, .dark-mode .fantastic-depths .monster .armor-class .ac-value {
  text-shadow: 0 0 2px #2b2a24, 0 1px 2px #2b2a24, 1px 0 2px #2b2a24, 1px 1px 2px #2b2a24;
}

/* Light mode styles */
.light-mode .fantastic-depths .window-content .bordered {
  border-color: #bbbab4;
}
.light-mode .fantastic-depths .window-content .items-list {
  color: #4b4a44;
}
.light-mode .fantastic-depths .window-content .items-list .item-controls .item-unequipped {
  color: rgba(0, 0, 0, 0.2);
}
.light-mode .fantastic-depths .window-content .items-list .items-header {
  background: rgba(200, 200, 200, 0.1);
  border: 2px groove #eeede0;
}
.light-mode .fantastic-depths .window-content .items-list .items-footer {
  background: rgba(180, 180, 180, 0.1);
  border: 2px groove #eeede0;
}
.light-mode .fantastic-depths .window-content .items-list .item .item-name {
  color: #2b2a24;
}
.light-mode .fantastic-depths .window-content .rollable:hover, .light-mode .fantastic-depths .window-content .rollable:focus {
  color: #2b2a24;
  text-shadow: 0 0 10px #ae7615;
}
.light-mode .fantastic-depths .summary li {
  color: #4b4a44;
}
.light-mode .fantastic-depths .summary li label {
  color: #4b4a44;
}
.light-mode .fantastic-depths .character .ability-scores .ability, .light-mode .fantastic-depths .monster .ability-scores .ability {
  border-color: #bbbab4;
}
.light-mode .fantastic-depths .character .hit-points .hp-value, .light-mode .fantastic-depths .monster .hit-points .hp-value {
  text-shadow: 0 0 2px #ebeae4, 0 1px 2px #ebeae4, 1px 0 2px #ebeae4, 1px 1px 2px #ebeae4;
}
.light-mode .fantastic-depths .character .hit-points .hp-empty, .light-mode .fantastic-depths .monster .hit-points .hp-empty {
  background-image: url("../assets/img/heart_empty.png");
  background-repeat: no-repeat;
}
.light-mode .fantastic-depths .character .hit-points .hp-full, .light-mode .fantastic-depths .monster .hit-points .hp-full {
  background-image: url("../assets/img/heart_full.png");
  background-repeat: no-repeat;
}
.light-mode .fantastic-depths .character .armor-class, .light-mode .fantastic-depths .monster .armor-class {
  background-image: url("../assets/img/shield.png");
  background-repeat: no-repeat;
}
.light-mode .fantastic-depths .character .armor-class .ac-value, .light-mode .fantastic-depths .monster .armor-class .ac-value {
  text-shadow: 0 0 2px #ebeae4, 0 1px 2px #ebeae4, 1px 0 2px #ebeae4, 1px 1px 2px #ebeae4;
}

.chat-message .message-content .attack-fail, .chat-message .message-content .roll-fail {
  font-size: 18px;
  color: #602010;
}
.chat-message .message-content .attack-success, .chat-message .message-content .roll-success {
  font-size: 18px;
  color: #106020;
}
.chat-message .message-content .attack-info, .chat-message .message-content .roll-info {
  font-size: 16px;
  color: #2a3550;
}
.chat-message .message-content .warning {
  font-size: 16px;
  color: #702010;
}

.combatant.disposition-friendly::before {
  font-family: "Font Awesome 5 Free";
  content: "\f024";
  color: green;
  margin-right: 5px;
  font-weight: 900;
}

.combatant.disposition-neutral::before {
  font-family: "Font Awesome 5 Free";
  content: "\f06c";
  color: white;
  margin-right: 5px;
  font-weight: 900;
}

.combatant.disposition-hostile::before {
  font-family: "Font Awesome 5 Free";
  content: "\f06d";
  color: red;
  margin-right: 5px;
  font-weight: 900;
}

/* Styles limited to fantastic-depths sheets */
.fantastic-depths .character input, .fantastic-depths .monster input {
  border: 0 none;
  padding: 2px 5px;
}
.fantastic-depths .character .ability-scores, .fantastic-depths .monster .ability-scores {
  max-width: 180px;
}
.fantastic-depths .character .ability-scores .ability, .fantastic-depths .monster .ability-scores .ability {
  min-height: 34px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.fantastic-depths .character .ability-scores .ability label, .fantastic-depths .monster .ability-scores .ability label {
  font-size: 20px;
  font-weight: 500;
  min-width: 44px;
  max-width: 44px;
  margin: 0 4px;
  text-align: left;
}
.fantastic-depths .character .ability-scores .ability input, .fantastic-depths .monster .ability-scores .ability input {
  font-size: 24px;
  max-width: 42px;
  border-radius: 20px;
  margin-right: 6px;
  padding-top: 0;
  min-height: 32px;
  text-align: center;
}
.fantastic-depths .character .ability-scores .ability .ability-mod, .fantastic-depths .monster .ability-scores .ability .ability-mod {
  max-width: 36px;
  font-size: 14px;
  margin-left: 6px;
}
.fantastic-depths .character .ability-scores .ability:last-child, .fantastic-depths .monster .ability-scores .ability:last-child {
  border-bottom: none;
}
.fantastic-depths .character .xsmall-col, .fantastic-depths .monster .xsmall-col {
  min-height: 32px;
}
.fantastic-depths .character .xsmall-col input, .fantastic-depths .character .xsmall-col label, .fantastic-depths .monster .xsmall-col input, .fantastic-depths .monster .xsmall-col label {
  max-width: 38px;
  min-width: 38px;
  display: inline-block;
  text-align: center;
}
.fantastic-depths .character .xsmall-col label, .fantastic-depths .monster .xsmall-col label {
  font-size: 13px;
}
.fantastic-depths .character .saving-throws .flexrow, .fantastic-depths .monster .saving-throws .flexrow {
  min-height: 36px;
}
.fantastic-depths .character .saving-throws input, .fantastic-depths .monster .saving-throws input {
  align-content: center;
  margin-right: 6px;
  max-width: 34px;
  min-width: 34px;
  font-size: 16px;
}
.fantastic-depths .character .saving-throws label, .fantastic-depths .monster .saving-throws label {
  align-content: center;
  text-align: left;
  font-size: 12px;
}
.fantastic-depths .character .hit-points, .fantastic-depths .monster .hit-points {
  height: 74px;
  position: relative;
}
.fantastic-depths .character .hit-points .hp-value, .fantastic-depths .monster .hit-points .hp-value {
  background: none;
  border: 0 none;
  text-align: center;
  font-weight: bolder;
}
.fantastic-depths .character .hit-points .hp-top, .fantastic-depths .monster .hit-points .hp-top {
  position: absolute;
  font-size: 26px;
  top: 15px;
  width: 50px;
  left: calc(50% - 25px);
}
.fantastic-depths .character .hit-points .hp-bottom, .fantastic-depths .monster .hit-points .hp-bottom {
  position: absolute;
  font-size: 12px;
  bottom: 8px;
  width: 40px;
  right: calc(50% - 20px);
}
.fantastic-depths .character .hit-points .hp-empty, .fantastic-depths .monster .hit-points .hp-empty {
  background-size: 74px;
  background-position: top;
  background-clip: content-box;
}
.fantastic-depths .character .hit-points .hp-full, .fantastic-depths .monster .hit-points .hp-full {
  background-size: 74px;
  background-position: bottom;
  background-clip: content-box;
}
.fantastic-depths .character .armor-class, .fantastic-depths .monster .armor-class {
  height: 74px;
  position: relative;
  background-size: 70px;
  background-position: center;
}
.fantastic-depths .character .armor-class .ac-value, .fantastic-depths .monster .armor-class .ac-value {
  background: none;
  border: 0 none;
  text-align: center;
  font-weight: bolder;
}
.fantastic-depths .character .armor-class .ac-top, .fantastic-depths .monster .armor-class .ac-top {
  position: absolute;
  font-size: 26px;
  top: 11px;
  width: 50px;
  left: calc(50% - 25px);
}
.fantastic-depths .character .armor-class .ac-bottom, .fantastic-depths .monster .armor-class .ac-bottom {
  position: absolute;
  font-size: 12px;
  bottom: 12px;
  width: 50px;
  right: calc(50% - 25px);
}
.fantastic-depths .character .armor-class .shield, .fantastic-depths .monster .armor-class .shield {
  position: relative;
  left: 68px;
  top: 4px;
  margin-right: -2px;
  font-size: 18px;
}
.fantastic-depths .item-form {
  font-family: "Barlow", sans-serif;
}
.fantastic-depths h4 {
  margin: 2px;
}
.fantastic-depths .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: normal !important;
  margin-bottom: 5px;
}
.fantastic-depths .sheet-header input {
  border: 0;
  padding: 2px 8px;
}
.fantastic-depths .sheet-header .profile-img {
  flex: 0 0 10px;
  height: 130px;
  width: 130px;
  margin-right: 10px;
}
.fantastic-depths .sheet-header .profile-img-sm {
  flex: 0 0 10px;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
.fantastic-depths .sheet-header .header-fields {
  flex: 1;
}
.fantastic-depths .sheet-header .charname {
  height: 34px;
}
.fantastic-depths .sheet-header .charname input {
  font-size: 22px;
  font-weight: 500;
  height: 30px;
}
.fantastic-depths .tag-section {
  padding: 1px 2px 0 1px;
  margin: 0 0 1px 0;
}
.fantastic-depths .tag-section .tag-list {
  margin: 0;
  height: 24px;
  overflow: auto;
  list-style: none;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
}
.fantastic-depths .tag-section .tag-list .tag {
  background: #4b4a44;
  border-radius: 5px;
  color: whitesmoke;
  padding: 0 5px;
  height: 18px;
  box-shadow: 0 0 3px #d8d6c9;
  margin: 0 2px;
}
.fantastic-depths .tag-section .tag-list .tag i {
  font-size: 9px;
  vertical-align: middle;
  color: #d8d6c9;
}
.fantastic-depths .tag-section .add-tag {
  max-height: 28px;
}
.fantastic-depths .tag-section .add-tag input {
  margin-top: 1px;
  max-height: 20px;
  min-width: 70px;
}
.fantastic-depths .sheet-tabs {
  flex: 0;
}
.fantastic-depths .sheet-body,
.fantastic-depths .sheet-body .tab,
.fantastic-depths .sheet-body .tab .editor {
  height: 100%;
}
.fantastic-depths .tox .tox-editor-container {
  background: #fff;
}
.fantastic-depths .tox .tox-edit-area {
  padding: 0 8px;
}
.fantastic-depths .label-12px label {
  font-size: 12px;
}
.fantastic-depths .collapsible-content {
  overflow: hidden;
  height: auto;
  transition: height 0.1s ease-in;
}
.fantastic-depths .collapsible-content.collapsed {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: height 0.1s ease-in, padding 0.1s ease-in;
}
.fantastic-depths .summary {
  flex: 0 0 100%;
  height: 44px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: none;
}
.fantastic-depths .summary li {
  height: calc(100% - 5px);
  float: left;
  margin: 2px 2px;
  padding: 0;
  line-height: 30px;
  position: relative;
}
.fantastic-depths .summary li label {
  line-height: 6px;
  position: absolute;
  font-size: 10px;
  bottom: 2px;
  left: 2px;
}
.fantastic-depths .summary li.notify input {
  font-weight: bold;
  animation: 0.8s ease-in 1s infinite alternate notify;
}
.fantastic-depths .resource-label {
  font-weight: bold;
}
.fantastic-depths .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.fantastic-depths .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fantastic-depths .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  align-items: center;
  display: flex;
}
.fantastic-depths .items-list .item-name h3, .fantastic-depths .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.fantastic-depths .items-list .item-controls {
  display: flex;
  flex: 0 0 70px;
  justify-content: flex-end;
}
.fantastic-depths .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 5px;
}
.fantastic-depths .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.fantastic-depths .items-list .item:last-child {
  border-bottom: none;
}
.fantastic-depths .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: contain; /* Ensures the d20 icon is properly sized */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-right: 4px;
  position: relative;
  top: 2px;
}
.fantastic-depths .items-list .item .item-name .rollable:hover img {
  opacity: 0; /* Or use display: none; */
}
.fantastic-depths .items-list .item .item-name .rollable:hover {
  background-image: url("/icons/svg/d20-highlight.svg");
}
.fantastic-depths .items-list .item input {
  text-align: center;
}
.fantastic-depths .items-list .item-40px {
  width: 40px;
  max-width: 40px;
}
.fantastic-depths .items-list .item-60px {
  width: 60px;
  max-width: 60px;
}
.fantastic-depths .items-list .item-80px {
  width: 80px;
  max-width: 80px;
}
.fantastic-depths .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.fantastic-depths .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  font-weight: bold;
}
.fantastic-depths .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.fantastic-depths .items-list .items-header .align-left {
  text-align: left;
}
.fantastic-depths .items-list .items-header .item-name {
  padding-left: 3px;
  text-align: left;
}
.fantastic-depths .items-list .items-footer {
  height: 26px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  font-weight: bold;
}
.fantastic-depths .items-list .items-footer > * {
  font-size: 12px;
  text-align: center;
}
.fantastic-depths .items-list .items-footer .align-left {
  text-align: left;
}
.fantastic-depths .items-list .items-footer .item-name {
  padding-left: 3px;
  text-align: left;
}
.fantastic-depths .items-list .consumable-counter {
  height: 14px;
  display: flex;
  flex-wrap: wrap;
  line-height: 14px;
}
.fantastic-depths .items-list .consumable-counter label {
  flex: 0 30px;
  font-size: 11px;
  text-indent: 3px;
}
.fantastic-depths .items-list .consumable-counter .full-mark,
.fantastic-depths .items-list .consumable-counter .empty-mark {
  cursor: pointer;
  flex: 0 8px;
  margin: 1px;
  box-shadow: inset 0 0 2px #7a7971;
}
.fantastic-depths .items-list .consumable-counter .full-mark:hover,
.fantastic-depths .items-list .consumable-counter .empty-mark:hover {
  background: #7a7971;
}
.fantastic-depths .items-list .consumable-counter .full-mark {
  background: #4b4a44;
  border: 1px inset #7a7971;
}
.fantastic-depths .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.fantastic-depths .item-info {
  text-align: center;
}
.fantastic-depths .effects .item .effect-source,
.fantastic-depths .effects .item .effect-duration,
.fantastic-depths .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.fantastic-depths .effects .item .effect-controls {
  border: none;
}
