{{#if isOwner}}
<div class="combatant-declarations">
	<a class='combatant-control combat-move{{#if isRetreating}} active{{/if}}' data-tooltip="Is retreating" role="button" data-control="isRetreating"> 
		<i class='fas fa-walking'></i>
	</a>
	<a class='combatant-control combat-casting{{#if isCasting}} active{{/if}}' data-tooltip="Is casting a spell" role="button" data-control="isCasting">
		<i class='fas fa-hat-wizard'></i>
	</a>
	<a class='combatant-control combat-item-casting{{#if isItemCasting}} active{{/if}}' data-tooltip="Is spellcasting with magic item" role="button" data-control="isItemCasting">
		<i class='fas fa-scroll-old'></i>
	</a>
	<a class='combatant-control combat-ranged{{#if isRanged}} active{{/if}}' data-tooltip="Is doing ranged combat" role="button" data-control="isRanged">
		<i class='fas fa-bow-arrow'></i>
	</a>
	<select>
		<option>Retreat</option>
		<option>Cast</option>
	</select>
</div>
{{/if}}