<label class="declared-action" data-tooltip="{{localize (concat 'FADE.combat.maneuvers.' combatant.declaredAction '.description')}}">
   {{localize (concat 'FADE.combat.maneuvers.' combatant.declaredAction '.name')}}
</label>