<div>
   <h3>Fantastic Depths</h3>
   <p>A full-featured Foundry VTT game system compatible with popular fantasy RPGs from the 1980s and 1990s. Its flexible setup options ensure compatibility with many OSR systems.</p>
   <p>
      Report your issues on our <a href="https://github.com/Forelius/fantastic-depths/issues">Github issue tracker</a> or by using the Bug Reporter module in Foundry VTT.
   </p>
   <h4>
      Open Source Acknowledgements
   </h4>
   <p>
      This game system is open source!
      Brought to life on Foundry VTT by Forelius. <a href="https://github.com/Forelius/fantastic-depths">See the project page</a> for more info.
   </p>
</div>
