.character {
   .ability {
      min-height: 36px;

      label {
         font-size: 13px;
         min-width: 35px;
         /*max-width: 80px;*/
         margin: 0 4px;
         text-align: center;
      }

      input {
         font-size: 18px;
         min-height: 28px;
         max-width: 36px;
      }

      .ability-mod {
         max-width: 36px;
         font-size: 14px;
      }
   }

   .xsmall-col {
      min-height: 32px;

      input, label {
         max-width: 38px;
         min-width: 38px;
         display: inline-block;
         text-align: center;
      }
      label{
         font-size:13px;
      }
   }

   .armor-class {
      margin-top: 5px;
   }

   .hitdie {
      max-width: 60px;
      min-width: 60px;
   }   
}
