<section class="tab {{tabs.abilities.cssClass}}" data-group='primary' data-tab='abilities'>
   {{> "actorHeader"}}
   {{> "abilityScores"}}
   <div class="flexrow align-vtop">
      <!-- SAVING THROWS -->
      {{> "actorSaves"}}
      <div>
         <!--HIT POINTS & ARMOR CLASS-->
         {{> "actorHpAc"}}
         <!-- MOVEMENT -->
         <div class="bordered text-center" style="height:48%;">
            {{> "actorMovement"}}
         </div>
      </div>
      <div>
         <!-- EXPLORATION -->
         {{> "actorExploration"}}
      </div>
   </div>
   <!-- Equipped Weapons -->
   <div class="flexrow">
      {{> "actorEquippedWeapons"}}
   </div>
</section>