$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;
$colorDark: rgba(0, 0, 0, 0.9);
$colorFaint: #d8d6c9;
$colorInactive: #969696;
$colorBeige: #b5b3a4;
$colorTan: #7a7971;
$colorOlive: #4b4a44;
$colorCrimson: #44191a;
$shadowColor: #ae7615;

:root {
   --color-shadow-primary: #ae7615;
}
