/*$font-primary: 'Alegreya Sans', sans-serif;*/
/*$font-secondary: 'Barlow', sans-serif;*/
$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Alegreya Sans', sans-serif;

h1,h2,h3,h4{
   font-weight:bold;
}

.text-size20{
   font-size: 20px;
}
.text-size18 {
   font-size: 18px;
   margin-bottom:4px;
}
.text-size16 {
   font-size: 18px;
   margin-bottom: 3px;
}
