$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;
$detailsHeight: 44px;
$borderGroove: 2px groove #eeede0;
$sheetBackground: whitesmoke;
$inputBackground: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
