<form>
   <!-- Dropdown for selecting 'melee' or 'missile' -->
   <div class="form-group">
      <label for="attackType">Attack Type</label>
      <select id="attackType" class="form-control">
         {{#if weapon.canMelee}}
         <option value="melee">Melee</option>
         {{/if}}
         {{#if weapon.canRanged}}
         <!--<option value="throw">Throw</option>-->
         <option value="missile">Missile</option>
         {{/if}}
      </select>
   </div>

   <!-- Modifier Input Field -->
   <div class="form-group">
      <label>{{localize "FADE.modifier"}}</label>
      <input id="mod" placeholder=0 type="number" />
   </div>
</form>
