<form>
   <!-- Dropdown for selecting 'melee' or 'missile' -->
   <div class="form-group">
      <label for="attackType">Attack Type</label>
      <select id="attackType" class="form-control">
         {{selectOptions types selected='melee' valueAttr="value" labelAttr="text"}}
      </select>
   </div>
   <div class="form-group">
      <label for="attackMode">Attack Mode</label>
      <select id="attackMode" class="form-control">
         {{selectOptions modes selected='1hand' valueAttr="value" labelAttr="text"}}
      </select>
   </div>

   <!-- Modifier Input Field -->
   <div class="form-group">
      <label>{{localize "FADE.modifier"}}</label>
      <input id="mod" placeholder=0 type="number" />
   </div>
</form>
