<div class="fade-dialog">
   <div class="flexrow top-label">
      <div class="flex2">
         <!-- Dropdown for selecting damage type -->
         <label for="damageType">{{localize 'FADE.DamageTypes.name'}}</label>
         <select name="damageType">
            {{selectOptions damageTypes selected=damageType}}
         </select>
      </div>
   </div>
</div>