<div>
   <div>
      <label for="light-item">{{localize 'FADE.dialog.selectLightSource'}}:</label>
      <select id="lightItem">
         {{selectOptions lightItems selected=""}}
      </select>
   </div>
</div>
