<div>
   <div>
      <label for="lightItem">{{localize 'FADE.dialog.selectLightSource'}}:</label>
      <select name="lightItem">
         {{selectOptions lightItems selected=lightItem}}
      </select>
   </div>
</div>
