<div>
   <!--<p>Select a lighting option for the selected token</p>-->
   <div style="margin-bottom: 10px;">
      <label for="light-item">{{localize 'FADE.dialog.selectLightSource'}}:</label>
      <select id="lightItem">
         {{selectOptions lightItems selected="" valueAttr="id" labelAttr="name"}}
      </select>
   </div>
</div>
