<div>
   <div class="form-group">
      <label for="mod" style="min-width:120px">{{localize "FADE.modifier"}}</label>
      <input name="mod" style="max-width:120px" placeholder=0 type="number" />
   </div>
</div>