<div>
   <div class="top-label">
      <label for="weapon-item">{{localize 'FADE.dialog.selectWeapon'}}:</label>
      <select name="weaponItem">
         {{selectOptions attackItems selected=selectedid}}
      </select>
   </div>
</div>
