<div>
   <div class="top-label" style="margin-bottom: 10px;">
      <label for="spellItem">{{localize 'FADE.dialog.selectSpell'}}:</label>
      <select name="spellItem">
         {{selectOptions spellItems selected=selectedid}}
      </select>
   </div>
</div>
