<div>
   <div style="margin-bottom: 10px;">
      <label for="spellItem">{{localize 'FADE.dialog.selectSpell'}}:</label>
      <select id="spellItem">
         {{selectOptions spellItems selected=selectedid valueAttr="id" labelAttr="name"}}
      </select>
   </div>
</div>
