<div>
   <!--<p>Select a weapon to attack with:</p>-->
   <div style="margin-bottom: 10px;">
      <label for="weapon-item">{{localize 'FADE.dialog.selectWeapon'}}:</label>
      <select id="weaponItem">
         {{selectOptions attackItems selected=selectedid}}
      </select>
   </div>
</div>
