<div>
   <!--<p>Select a weapon to attack with:</p>-->
   <div style="margin-bottom: 10px;">
      <label for="weapon-item">Select Weapon:</label>
      <select id="weaponItem">
         {{selectOptions attackItems selected="" valueAttr="id" labelAttr="name"}}
      </select>
   </div>
</div>
