<div>
   <div class="top-label">
      <label for="selectedid">{{localize 'FADE.dialog.selectWeapon'}}:</label>
      <select name="selectedid">
         {{selectOptions attackItems selected=selectedid}}
      </select>
   </div>
</div>
