{{> "systems/fantastic-depths/templates/item/parts/item-weapons.hbs"}}
{{> "systems/fantastic-depths/templates/item/parts/item-armor.hbs"}}
{{> "systems/fantastic-depths/templates/item/parts/item-gear.hbs"}}
<div>
   Encumbrance
</div>