<div class="flexrow align-vtop">
   <div style="padding:0 2px;">      
      {{> "actorClassAbilities"}}
   </div>
   <div style="padding:0 2px;">
      {{> "actorSkills"}}
   </div>
</div>
<div class="flexrow">
   <div style="padding:0 2px;">
      {{#if weaponMastery}}{{> "actorMasteries"}}{{/if}}
   </div>
</div>
<div class="flexrow">
   <div style="padding:0 2px;">
      {{> "actorSpecialAbilities"}}
   </div>
</div>

