<div class="flexrow">
   <div style="padding:0 2px;">
      {{> "systems/fantastic-depths/templates/item/parts/item-classAbilities.hbs"}}
   </div>
   <div style="padding:0 2px;">
      {{> "actorSkills"}}
   </div>
</div>
<div class="flexrow">  
</div>
<div class="flexrow">
   <div style="padding:0 2px;">
      {{#if weaponMastery}}{{> "actorMasteries"}}{{/if}}
   </div>
</div>
<div class="flexrow">
   <div style="padding:0 2px;">
      {{> "actorSpecialAbilities"}}
   </div>
</div>

