<section class="flexrow bordered tag-section">
   <div class="flex0 add-tag">
      {{#if isGM}}
      <input type="text" data-action="add-tag" placeholder="{{localize 'FADE.Tags.addTags'}}" data-tooltip="{{localize 'FADE.Tags.desc'}}" />
      {{/if}}
   </div>
   <div class="flex3">
      <div class="flexrow">
         <ol class="tag-list">
            {{#each system.tags as |tag|}}
            <li class="tag" data-tag="{{tag}}">
               <span>{{tag}}</span>
               {{#if @root.isGM}}
               <a class="tag-delete"><i class="fas fa-times"></i></a>
               {{/if}}
            </li>
            {{/each}}
         </ol>
      </div>
   </div>
</section>