<section class='tab {{tabs.attributes.cssClass}}' data-group='primary' data-tab='attributes'>
   <div class="bordered">
      <div class="summary flexrow">
         <div class="flex1 width-180">
            <input type='text' name="system.av" value='{{system.av}}' data-dtype='String' {{#unless isGM}} readonly{{/unless}} placeholder="0" />
            <label for="system.av" data-tooltip="{{localize 'FADE.Armor.av.hint'}}">{{localize 'FADE.Armor.av.short'}}</label>
         </div>         
      </div>
   </div>
   {{> "itemIdentified"}}
</section>
