<section class='tab' data-group='primary' data-tab='gmOnly'>
   {{> "itemFlags"}}
   <label for="gm-notes">{{localize 'FADE.GMNotes'}}:</label>
   <textarea id="gm-notes" name="system.gm.notes" rows="5">{{system.gm.notes}}</textarea>
</section>
