.chat-message {
   .message-content {
      .attack-fail, .roll-fail {
         font-size: 18px;
      }

      .attack-success, .roll-success {
         font-size: 18px;
      }

      .damage {
         font-size: 19px;
         font-weight: bold;
      }

      .attack-info {
         font-size: 16px;         
      }

      .roll-info {
         font-size: 16px;
      }

      .warning {
         font-size: 16px;
      }

      .collapsible-header{
         cursor:pointer;
      }
   }
}
