.chat-message {
   .message-content {
      .attack-fail, .roll-fail {
         font-size: 18px;
         color: #602010;
      }

      .attack-success, .roll-success {
         font-size: 18px;
         color: #106020;
      }

      .attack-info, .roll-info {
         font-size: 16px;
         color: #2a3550;
      }

      .warning {
         font-size: 16px;
         color: #702010;
      }
   }
}
