/* Dark mode styles */
.dark-mode {
   .fantastic-depths {
      .window-content {
         background: url('../assets/img/grunge2.jpg');
         color: $lighterColor;

         a:hover {
            text-shadow: $glowForDarkMode;
         }

         textarea {
            color: $lighterColor;
         }

         input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
            background: rgb(210, 200, 180, 0.1);
            color: $lighterColor;
            /*border: 1px solid var(--color-border-light-tertiary);*/
         }

         input::placeholder {
            color: $lightColor;
         }

         select {
            color: $lighterColor;

            option {
               background: $darkColor;
               color: $lighterColor;
            }
         }

         .bordered {
            border-color: $darkColor;
         }

         nav.sheet-tabs {
            margin: 4px 0;
            border-top: 1px solid $darkColor;
            border-bottom: 1px solid $darkColor;
         }

         .items-list {
            color: $lightColor;

            .item-controls {
               .item-unequipped {
                  color: rgba(220, 220, 220, 0.1);
               }
            }

            .items-header {
               background: rgba(200, 200, 200, 0.1);
               border: $borderGrooveDk;
            }

            .items-footer {
               background: rgba(20, 20, 20, 0.7);
               border: $borderGrooveDk;
            }

            .item-prop {
               border-left: 1px solid $darkColor;
               border-right: 1px solid $darkColor;
            }

            .item {
               border-bottom: 1px solid $darkColor;

               .item-name {
                  color: $lighterColor;
               }
            }
         }

         .rollable {
            &:hover,
            &:focus {
               color: $lighterColor;
               text-shadow: $glowForDarkMode;
            }
         }

         .inline-roll {
            color: $darkColor;
         }
      }

      .summary {
         li {
            color: $lightColor;

            label {
               color: $lightColor;
            }
         }
      }

      .character, .monster {
         .ability-scores {
            .ability {
               border-color: $darkColor;
            }
         }

         .hit-points {
            .hp-value {
               text-shadow: 0 0 2px $darkerColor, 0 1px 2px $darkerColor, 1px 0 2px $darkerColor, 1px 1px 2px $darkerColor;
               background: none;
            }

            .hp-empty {
               background-image: url("../assets/img/heart_empty2.png");
               background-repeat: no-repeat;
            }

            .hp-full {
               background-image: url("../assets/img/heart_full2.png");
               background-repeat: no-repeat;
            }
         }

         .armor-class {
            background-image: url("../assets/img/shield2.png");
            background-repeat: no-repeat;

            .ac-value {
               text-shadow: 0 0 2px $darkerColor, 0 1px 2px $darkerColor, 1px 0 2px $darkerColor, 1px 1px 2px $darkerColor;
            }
         }
      }
   }

   .chat-message {
      background: url('../assets/img/grungeyellow.jpg');
      color: $lighterColor;
      border: 1px solid #545140;

      .content-link {
         background: url('../assets/img/grungeblue.jpg');
      }

      hr {
         border-top: none;
         border-bottom: 2px solid #645140;
      }

      .message-header {
         color: $lightColor;
      }

      .attack-info {
         color: $lightColor;
      }

      .dice-formula, .dice-total {
         background: url('../assets/img/grungeblue.jpg');
         border: 1px solid $darkColor;
         box-shadow: none;
      }

      .damage-roll, .apply-damage {
         background: url('../assets/img/grungered.jpg');
         color: $lighterColor;
         box-shadow: none;
         border: 1px solid #774444;
      }

      .attack-fail, .roll-fail {
         color: #d85d48;
      }

      .attack-success, .roll-success {
         color: #7edb89;
      }

      .roll-info {
         color: #789ad0;
      }

      .warning {
         color: #deb56a;
      }
   }
}
/* Light mode styles */
.light-mode {
   .fantastic-depths {
      .window-content {
         .bordered {
            border-color: $lightColor;
         }

         .items-list {
            color: $darkColor;

            .item-controls {
               .item-unequipped {
                  color: rgba(0, 0, 0, 0.2);
               }
            }

            .items-header {
               background: rgba(200, 200, 200, 0.1);
               border: $borderGroove;
            }

            .items-footer {
               background: rgba(180, 180, 180, 0.1);
               border: $borderGroove;
            }

            .item {
               .item-name {
                  color: $darkerColor;
               }
            }
         }

         .rollable {
            &:hover,
            &:focus {
               color: $darkerColor;
               text-shadow: 0 0 10px $shadowColor;
            }
         }
      }

      .summary {
         li {
            color: $darkColor;

            label {
               color: $darkColor;
            }
         }
      }

      .character, .monster {
         .ability-scores {
            .ability {
               border-color: $lightColor;
            }
         }

         .hit-points {
            .hp-value {
               text-shadow: 0 0 2px $lighterColor, 0 1px 2px $lighterColor, 1px 0 2px $lighterColor, 1px 1px 2px $lighterColor;
            }

            .hp-empty {
               background-image: url("../assets/img/heart_empty.png");
               background-repeat: no-repeat;
            }

            .hp-full {
               background-image: url("../assets/img/heart_full.png");
               background-repeat: no-repeat;
            }
         }

         .armor-class {
            background-image: url("../assets/img/shield.png");
            background-repeat: no-repeat;

            .ac-value {
               text-shadow: 0 0 2px $lighterColor, 0 1px 2px $lighterColor, 1px 0 2px $lighterColor, 1px 1px 2px $lighterColor;
            }
         }
      }
   }

   .chat-message {
      .attack-fail, .roll-fail {
         color: #602010;
      }

      .attack-success, .roll-success {
         color: #106020;
      }

      .damage {
         font-weight: bold;
      }

      .roll-info {
         color: #101030;
      }

      .warning {
         color: #702010;
      }

      .damage-roll, .apply-damage {
         background: url('../assets/img/grungered.jpg');
         color: $lighterColor;
         box-shadow: none;
         border: 1px solid #774444;
      }
   }
}
