/* Dark mode styles */
.dark-mode {
   .bordered {
      border-color: $darkColor;
   }

   .fantastic-depths {
      .window-content {
         background: url('../assets/img/grunge2.jpg');
         color: $lighterColor;

         button {
            background: url('../assets/img/grungeyellow.jpg');
            color: $lighterColor;
            border: 1px solid #545140;
         }

         a:hover {
            text-shadow: $glowForDarkMode;
         }

         textarea {
            color: $lighterColor;
         }

         input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
            background: rgb(210, 200, 180, 0.1);
            color: $lighterColor;
         }

         input::placeholder {
            color: $lightColor;
         }

         select {
            background: $darkerColor;
            color: $lighterColor;

            option {
               background: $darkColor;
               color: $lighterColor;
            }
         }

         nav.sheet-tabs {
            margin: 4px 0;
            border-top: 1px solid $darkColor;
            border-bottom: 1px solid $darkColor;
         }

         .top-border {
            border-top: 1px solid $darkColor;
         }

         .bottom-border {
            border-bottom: 1px solid $darkColor;
         }

         .items-list {
            color: $lightColor;

            .item-controls {
               .item-unequipped {
                  color: rgba(220, 220, 220, 0.1);
               }
            }

            .items-header {
               background: rgba(200, 200, 200, 0.1);
               border: $borderGrooveDk;
            }

            .items-footer {
               background: rgba(20, 20, 20, 0.7);
               border: $borderGrooveDk;
            }

            .item-prop {
               border-left: 1px solid $darkColor;
               border-right: 1px solid $darkColor;
            }

            .item {
               .item-name {
                  color: $lighterColor;
               }
            }
         }

         .rollable, .chatable {
            &:hover,
            &:focus {
               color: $lighterColor;
               text-shadow: $glowForDarkMode;
            }
         }

         .inline-roll {
            color: $darkColor;
         }
      }

      .summary {
         li {
            color: $lightColor;

            label {
               color: $lightColor;
            }
         }
      }

      .character, .monster {
         .ability-scores {
            .ability {
               border-color: $darkColor;
            }
         }
      }
   }

   .chat-message {
      background: url('../assets/img/grungeyellow.jpg');
      color: $lighterColor;
      border: 1px solid #545140;

      a.inline-roll {
         background: url('../assets/img/grunge2.jpg');
      }

      .content-link {
         background: url('../assets/img/grungeblue.jpg');
      }

      hr {
         border-top: none;
         border-bottom: 2px solid #645140;
      }

      .message-header {
         color: $lightColor;
      }

      .attack-info {
         color: #90b0e0;
      }

      .dice-formula, .dice-total {
         background: url('../assets/img/grunge2.jpg');
         border: 1px solid $darkColor;
         box-shadow: none;
      }

      .saving-roll {
         background: url('../assets/img/grungeblue.jpg');
         border: 1px solid $darkColor;
         box-shadow: none;
         color: $lighterColor;
      }

      .heal-roll, .apply-heal, .flags-restored-true {
         background: url('../assets/img/grungegreen.jpg');
         color: $lighterColor;
         box-shadow: none;
         border: 1px solid #447744;
      }

      .damage-roll, .apply-damage, .flags-killed-true {
         background: url('../assets/img/grungered.jpg');
         color: $lighterColor;
         box-shadow: none;
         border: 1px solid #774444;
      }

      .attack-fail, .roll-fail {
         color: #d85d48;
      }

      .attack-success, .roll-success {
         color: #7edb89;
      }

      .roll-info {
         color: #789ad0;
      }

      .warning {
         color: #deb56a;
      }

      .table-description {
         color: $lighterColor;
      }
   }
}
/* Light mode styles */
.light-mode {
   .fantastic-depths {
      .window-content {

         .bordered {
            border-color: $lightColor;
         }

         .top-border {
            border-top: 1px solid $c-faint;
         }

         .bottom-border {
            border-bottom: 1px solid $c-faint;
         }

         .items-list {
            color: $darkColor;

            .item-controls {
               .item-unequipped {
                  color: rgba(0, 0, 0, 0.2);
               }
            }

            .items-header {
               background: rgba(90, 100, 100, 0.2);
               border: $borderGroove;
            }

            .items-footer {
               background: rgba(170, 170, 170, 0.2);
               border: $borderGroove;
            }

            .item {
               .item-name {
                  color: $darkerColor;
               }
            }
         }

         .rollable, .chatable {
            &:hover,
            &:focus {
               color: $darkerColor;
               text-shadow: 0 0 10px $shadowColor;
            }
         }
      }

      .summary {
         li {
            color: $darkColor;

            label {
               color: $darkColor;
            }
         }
      }

      .character, .monster {
         .ability-scores {
            .ability {
               border-color: $lightColor;
            }
         }
      }
   }

   .chat-message {
      .attack-fail, .roll-fail {
         color: #602010;
      }

      .attack-success, .roll-success {
         color: #106020;
      }

      .attack-info {
         color: #3b4a55;
      }

      .damage {
         font-weight: bold;
      }

      .roll-info {
         color: #101030;
      }

      .warning {
         color: #702010;
      }

      .heal-roll, .apply-heal {
         background: url('../assets/img/grungegreen.jpg');
         color: $lighterColor;
         box-shadow: none;
         border: 1px solid #447744;
      }

      .damage-roll, .apply-damage {
         background: url('../assets/img/grungered.jpg');
         color: $lighterColor;
         box-shadow: none;
         border: 1px solid #774444;
      }
   }
}
