/* Dark mode styles */
.dark-mode {
   .fantastic-depths {
      .window-content {
         background: url('../assets/img/grunge2.jpg');
         color: $lighterColor;

         a:hover {
            text-shadow: $glowForDarkMode;
         }

         input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
            background: rgb(210, 200, 180, 0.1);
            color: $lighterColor;
            /*border: 1px solid var(--color-border-light-tertiary);*/
         }

         .bordered {
            border-color: $darkColor;
         }

         nav.sheet-tabs {
            margin: 4px 0;
            border-top: 1px solid $darkColor;
            border-bottom: 1px solid $darkColor;
         }

         .items-list {
            color: $lightColor;

            .item-controls {
               .item-unequipped {
                  color: rgba(220, 220, 220, 0.1);
               }
            }

            .items-header {
               background: rgba(200, 200, 200, 0.1);
               border: $borderGrooveDk;
            }

            .item {
               .item-name {
                  color: $lighterColor;
               }
            }
         }

         .rollable {
            &:hover,
            &:focus {
               color: $lighterColor;
               text-shadow: $glowForDarkMode;
            }
         }
      }

      .summary {
         li {
            color: $lightColor;

            label {
               color: $lightColor;
            }
         }
      }

      .character {
         .ability-scores {
            .ability {
               border-color: $darkColor;
            }
         }

         .hit-points {
            .hp-value {
               text-shadow: 0 0 2px $darkerColor, 0 1px 2px $darkerColor, 1px 0 2px $darkerColor, 1px 1px 2px $darkerColor;
               background: none;
            }

            .hp-empty {
               background-image: url("../assets/img/heart_empty2.png");
               background-repeat: no-repeat;
            }

            .hp-full {
               background-image: url("../assets/img/heart_full2.png");
               background-repeat: no-repeat;
            }
         }

         .armor-class {
            background-image: url("../assets/img/shield2.png");
            background-repeat: no-repeat;

            .ac-value {
               text-shadow: 0 0 2px $darkerColor, 0 1px 2px $darkerColor, 1px 0 2px $darkerColor, 1px 1px 2px $darkerColor;
            }
         }
      }
   }
}
/* Light mode styles */
.light-mode {
   .fantastic-depths {
      .window-content {
         .bordered {
            border-color: $lightColor;
         }

         .items-list {
            color: $darkColor;

            .item-controls {
               .item-unequipped {
                  color: rgba(0, 0, 0, 0.2);
               }
            }

            .items-header {
               background: rgba(200, 200, 200, 0.1);
               border: $borderGroove;
            }

            .item {
               .item-name {
                  color: $darkerColor;
               }
            }
         }

         .rollable {
            &:hover,
            &:focus {
               color: $darkerColor;
               text-shadow: 0 0 10px $shadowColor;
            }
         }
      }

      .summary {
         li {
            color: $darkColor;

            label {
               color: $darkColor;
            }
         }
      }

      .character {
         .ability-scores {
            .ability {
               border-color: $lightColor;
            }
         }

         .hit-points {
            .hp-value {
               text-shadow: 0 0 2px $lighterColor, 0 1px 2px $lighterColor, 1px 0 2px $lighterColor, 1px 1px 2px $lighterColor;
            }

            .hp-empty {
               background-image: url("../assets/img/heart_empty.png");
               background-repeat: no-repeat;
            }

            .hp-full {
               background-image: url("../assets/img/heart_full.png");
               background-repeat: no-repeat;
            }
         }

         .armor-class {
            background-image: url("../assets/img/shield.png");
            background-repeat: no-repeat;

            .ac-value {
               text-shadow: 0 0 2px $lighterColor, 0 1px 2px $lighterColor, 1px 0 2px $lighterColor, 1px 1px 2px $lighterColor;
            }
         }
      }
   }
}
