.window-app {
   font-family: $font-primary;
}

.rollable {
   &:hover,
   &:focus {
      cursor: pointer;
   }
}

.bordered {
   margin: 2px 2px 4px 2px;
   border-width:2px;
   border-style:solid;
   border-radius: 4px;
   padding: 6px;
}

.text-center {
   text-align: center;
}

.float-left {
   float: left;
}

.clear-fix {
   clear: both;
}
.sheet nav.sheet-tabs > [data-tab] {
   padding: 4px 8px;
   font-weight: 600;
}

/* Apply these styles only when the "minimized" class is not present */
.window-app.fantastic-depths.sheet.actor:not(.minimized) {
   min-width: 600px !important;
   min-height: 540px !important;
}

.window-app.fantastic-depths.sheet.item:not(.minimized) {
   min-width: 460px !important;
   min-height: 340px !important;
}

.party-tracker {
   .party-tracker-list {
      max-height: 100%; /* Ensure the list is scrollable */
      overflow-y: auto;
      padding: 4px;

      .party-member {
         position: relative; /* Relative positioning allows the delete button to be positioned inside */
         margin-bottom: 4px;
         /* Delete button styles */
         .delete-actor {
            position: absolute;
            top: 5px;
            right: 5px;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            width: 24px; /* Control size of the button */
            height: 24px; /* Equal height */
            display: flex; /* Use flex to center icon */
            align-items: center;
            justify-content: center;
            font-size: 14px; /* Ensure icon is small */
         }
         /* Ensure icon inherits size */
         .delete-actor i {
            font-size: inherit;
            color: #555555; /* Darken color on hover */
         }
         /* Hover effect for better feedback */
         .delete-actor:hover {
            color: #888888; /* Darken color on hover */
         }
      }
   }
}

.collapsible-content {
   overflow: hidden;
   height: auto;
   transition: height 0.1s ease-in;
}

.collapsible-content.collapsed {
   height: 0;
   padding-top: 0;
   padding-bottom: 0;
   transition: height 0.1s ease-in, padding 0.1s ease-in;
}

/* ----------------------------------------- */
/*  Accordion                                */
/* ----------------------------------------- */
/*.accordion {
   transition: margin-bottom 500ms ease;
}

.accordion.collapsed {
   > .accordion-content {
      height: 0;
   }
}

.accordion-indicator {
   display: none;
   transition: transform 500ms ease;
}

.accordion .accordion-indicator {
   display: inherit;
   transform: rotate(0deg);
}

.accordion.collapsed .accordion-indicator {
   transform: rotate(-90deg);
}

.accordion-heading {
   cursor: pointer;
   position: relative;
}

.accordion-content {
   overflow: hidden;
   transition: height 500ms ease;
}*/
