.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.bordered {
   margin-top: -6px;
   border: 2px solid #babaa0;
   border-radius: 4px;
   padding: 6px;
}