.window-app {
   font-family: $font-primary;
}

.rollable, .chatable {
   &:hover,
   &:focus {
      cursor: pointer;
   }
}

.bordered {
   margin: 2px 2px 4px 2px;
   border-width: 2px;
   border-style: solid;
   border-radius: 4px;
   padding: 6px;
}

.text-center {
   text-align: center;
}

.text-left {
   text-align: left;
}

.float-left {
   float: left;
}

.clear-fix {
   clear: both;
}

.sheet nav.sheet-tabs > [data-tab] {
   padding: 4px 8px;
   font-weight: 600;
}

/* Apply these styles only when the "minimized" class is not present */
.window-app.fantastic-depths.sheet.actor:not(.minimized) {
   min-width: 600px !important;
   min-height: 540px !important;
}

.window-app.fantastic-depths.sheet.item:not(.minimized) {
   min-width: 460px !important;
   min-height: 230px !important;
}

.party-tracker {
   flex: 1 1 auto;

   .party-tracker-list {
      max-height: 100%; /* Ensure the list is scrollable */
      overflow-y: auto;
      padding: 4px;

      .is-dead {
         background: url('../assets/img/grungered.jpg');
      }

      .party-member {
         position: relative; /* Relative positioning allows the delete button to be positioned inside */
         margin-bottom: 4px;
         /* Delete button styles */
         .delete-actor {
            position: absolute;
            top: 5px;
            right: 5px;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            width: 24px; /* Control size of the button */
            height: 24px; /* Equal height */
            display: flex; /* Use flex to center icon */
            align-items: center;
            justify-content: center;
            font-size: 14px; /* Ensure icon is small */
         }
         /* Ensure icon inherits size */
         .delete-actor i {
            font-size: inherit;
            color: #555555; /* Darken color on hover */
         }
         /* Hover effect for better feedback */
         .delete-actor:hover {
            color: #888888; /* Darken color on hover */
         }
      }
   }
}

.party-table {
   th {
      text-align: left;
   }
}

.collapsible-content {
   overflow: hidden;
   height: auto;
   transition: height 0.1s ease-in;
}

.collapsible-content.collapsed {
   height: 0;
   padding-top: 0;
   padding-bottom: 0;
   transition: height 0.1s ease-in, padding 0.1s ease-in;
}

.combatant-declarations {
   margin: -3px 0 0 0;

   .sidebar-select {
      flex: auto;
      font-size: 10px;
      background-color: lightgray;
      height: 16px;
   }
}

.declared-action {
   font-size: 12px;
   color: #888888;
}
.prosemirror .editor-container .editor-content {
   position: relative !important;
}


.system-fantastic-depths {
   #tooltip.text-center {
      text-align: left !important;
   }

   color-picker {
      gap: 0;
   }

   color-picker > input:nth-child(2) {
      height: 32px;
      max-width: 32px;
   }

   .width-120 {
      width: 120px;
      max-width: 120px;
   }


}
