.chat-message {
   .message-content {
      .attack-fail {
         font-size: 20px;
         color: darkred;
      }
      .attack-success {
         font-size: 24px;
         color: #106020;
      }
      .attack-info {
         font-size: 20px;
         color: #2a3560;
      }
   }
}