.chat-message {
   .message-content {
      .attack-fail, .roll-fail {
         font-size: 20px;
         color: darkred;
      }

      .attack-success, .roll-success {
         font-size: 22px;
         color: #106020;
      }

      .attack-info, .roll-info {
         font-size: 20px;
         color: #2a3560;
      }
   }
}
