<div class="standard-form">
   <div class="form-group">
      <label>Session Count: </label>
      <span>{{turnData.dungeon.session}}</span>
   </div>
   <div class="form-group">
      <label>Total Count: </label>
      <span>{{turnData.dungeon.total}}</span>
   </div>
   <button id="advance-turn" type="button">Advance Turn (10 minutes)</button>
</div>
