<div>
   <header class='sheet-header'>
      <div class='header-fields'>
         <div class="summary flexrow">
            <div class="flex3">
               <div class='charname'>
                  <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
               </div>
               <label for="name">{{localize 'Name'}}</label>
            </div>
            <div class="flex1">
               <input name='system.level' type='number' value='{{system.level}}' placeholder='Level' />
               <label for="system.level">{{localize 'FADE.Actor.Level'}}</label>
            </div>
         </div>
      </div>
   </header>
   <div>
   </div>
</div>